# 3. 분류 모델 적용 및 성능 평가

### train_data(samsung_train)
   - feature : 미리 크롤링한 기사 제목에 대한 bert 모델을 적용한 수치값 (sentiment) (1과 0 사이의 유리수)
   - target : 부정/긍정. 0,1 (0은 부정 ,1은 긍정) (label)
       - train_data의 target은 직접 기사 제목을 읽고 라벨링을 수행함 
       - 일단 180개 정도 수행. 정확도를 올리기 위해 추가적인 라벨링 수행할 예정


### test_data(samsung_test)
   - feature : 1일간 크롤링한 기사 제목에 대한 bert 모델을 적용한 수치값 (sentiment)
   - target : 0,1 (label)
       - test_data의 target은 feature를 기반해서 0.5 이상이면 긍정, 0.5 미만이면 부정으로 설정

In [83]:
import numpy as np
import pandas as pd

In [84]:
num = int(input('몇번째 테스트? :'))
search = input("회사명?")

몇번째 테스트? :1
회사명?삼성전자

In [90]:
samsung_train = pd.read_csv('csv/samsung_train.csv',encoding='cp949') # encoding='cp949'
samsung_train.head(10)

,date,title,label,sentiment
0,2023-05-30 9:00,"['삼성전자', ',', '갤럭시·노트북·TV서', ""'"", '자', '가', '수...",1,0.50
1,2023-05-30 10:43,"['삼성전자', '갤럭시', ',', '이제', '내손', '으로', '고치', '...",1,0.63
2,2023-05-30 11:09,"['[', '특징주', ']', '삼성전자·SK하이닉스,', '52주', '신', ...",1,0.45
3,2023-05-30 14:01,"['""', '청년', '에', '일경험""…SK하이닉스·삼성전자', '등', '210...",1,0.61
4,2023-05-30 11:21,"['작년', '주주', '배당액', '1위', '는', '삼성전자…총', '배당금'...",0,0.53
5,2023-05-30 9:29,"['갤S22·갤북', '스스로', '고친다…삼성전자', '‘자', '가', '수리’...",1,0.49
6,2023-05-30 9:26,"['""', '이번', '엔', '중동""…삼성전자,', '두바', '이', '리조트'...",1,0.58
7,2023-05-30 11:06,"['삼성전자', ',', '두바이', '서', '2023년형', '네오QLED', ...",1,0.47
8,2023-05-30 11:06,"['""', '이제', '집', '에서', '고치', '세', '요', '""', '....",1,0.41
9,2023-05-30 18:00,"['""머스크', '불', '만', '터트리', 'ㄹ', '지경인데""…삼성전자·하이닉...",1,0.51

In [91]:
samsung_test = pd.read_csv(f'csv/{search}_test_data_{num}.csv',encoding='UTF8')
samsung_test.head(10)

,date,title,sentiment,label
0,2023-05-30 09:00:00,"['삼성전자', ',', '갤럭시·노트북·TV서', ""'"", '자', '가', '수...",0.35,0
1,2023-05-30 10:43:01,"['삼성전자', '갤럭시', ',', '이제', '내손', '으로', '고치', '...",0.44,0
2,2023-05-30 11:09:05,"['[', '특징주', ']', '삼성전자·SK하이닉스,', '52주', '신', ...",0.30,0
3,2023-05-30 14:01:04,"['""', '청년', '에', '일경험""…SK하이닉스·삼성전자', '등', '210...",0.36,0
4,2023-05-30 11:21:01,"['작년', '주주', '배당액', '1위', '는', '삼성전자…총', '배당금'...",0.31,0
5,2023-05-30 09:12:04,"['“고장난', '갤럭시', '직접', '고친다”…삼성전자,', '‘자', '가',...",0.43,0
6,2023-05-30 09:26:32,"['""', '이번', '엔', '중동""…삼성전자,', '두바', '이', '리조트'...",0.39,0
7,2023-05-30 11:06:43,"['삼성전자', ',', '두바이', '서', '2023년형', '네오QLED', ...",0.46,0
8,2023-05-30 10:01:01,"['[', '특징주', ']', '날개', '단', '삼성전자‧SK하이닉스…또', ...",0.40,0
9,2023-05-30 11:06:07,"['""', '이제', '집', '에서', '고치', '세', '요', '""', '....",0.39,0

In [32]:
#df.to_csv(f'csv/data_set.csv', encoding='utf-8-sig', index=False)

In [72]:
X_train = np.expand_dims(samsung_train['sentiment'].values,axis=1)
X_test =np.expand_dims(samsung_test['sentiment'].values,axis=1)
y_train =np.expand_dims(samsung_train['label'].values,axis=1)
y_test = np.expand_dims(samsung_test['label'].values,axis=1)
print(y_train)

[[1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]]

In [74]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 결정트리, Random Forest, 로지스틱 회귀를 위한 사이킷런 Classifier 클래스 생성
dt_clf = DecisionTreeClassifier(random_state=11)
rf_clf = RandomForestClassifier(random_state=11)
lr_clf = LogisticRegression(solver='liblinear')

# DecisionTreeClassifier 학습/예측/평가
dt_clf.fit(X_train,y_train)
dt_pred = dt_clf.predict(X_test)
print(f'DecisionTreeClassifier 정확도: {accuracy_score(y_test,dt_pred)}')

# RandomForestClassifier 학습/예측/평가
rf_clf.fit(X_train,y_train)
rf_pred = rf_clf.predict(X_test)
print(f"RandomForestClassifier 정확도: {accuracy_score(y_test,rf_pred)}")

# LogisticRegression 학습/예측/평가
lr_clf.fit(X_train,y_train)
lr_pred = lr_clf.predict(X_test)
print(f"LogisticRegression 정확도: {accuracy_score(y_test,lr_pred)}")

DecisionTreeClassifier 정확도: 0.48214285714285715
RandomForestClassifier 정확도: 0.42857142857142855
LogisticRegression 정확도: 0.4642857142857143

C:\Users\ahn\AppData\Local\Temp\ipykernel_3404\993524692.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_clf.fit(X_train,y_train)
C:\Users\ahn\anaconda3\envs\CapstonStockProject\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)